body{
  background: #1a1a1a;
}

/* .link{
  text-decoration: none;
} */

/* LogIn Register Page CSS */

.row{
  margin: 0;
  overflow-x: hidden; 
}

.loginregCOL{
  background: #1a1a1a;
}

.loginInp{
  background: #1a1a1a;
  border-style: none;
  border-bottom: 1px solid rgb(145, 144, 144);
  margin-bottom: 10px;
  border-radius: 0px;
}

.form-control:focus{
  color: rgb(175, 175, 175);
  border-bottom: solid 1px white;
  box-shadow: none;
  background-color: transparent;
}

.Btn{
  background: rgb(161, 2, 2);
  border: none;
  position: relative;
  /* left: 40%; */
  color: white;
  border-radius: 5%;
}

.Btn:hover{
  opacity: 80%;
  transition: 0.3s;
}

footer{
  position: fixed;
  bottom: 0px;
  left: 8%;
}